body{
    font-family: Helvetica Arial Geneva, sans-serif;
    margin:auto;
    display: grid;
    grid-template-columns: 20% 60% 20% ;
    grid-template-rows: 5vw auto 5vw;
    grid-template-areas:
        "header header header"
        ". main ."
        "footer footer footer";
}
header{
    grid-area: header;
    display:grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 5px;
    align-content: end;
    padding: 5px;
    border-bottom: 2px solid grey;
}
#sitelogo{
    display: grid;
    grid-column-start: 1;
    justify-self: stretch;
    padding: 2%;
    border: 1px solid black;
}
.hauptmenu{
    display: grid;
    grid-column-start: 2;
    align-content: end;
    border: 1px solid black;
}
.hauptmenu li{
    display: inline;
    padding-left: 2.5%;
    padding-right: 5%;

}
main{
    grid-area: main;
    display:grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}
main ~ div{
    display: grid;

}
#news p{
    border: 1px solid black;
    padding: 10px 5px;
}
.stats{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}
.stats div{
    padding-left: 1vw;
    padding-right: 1vw;
}
.stats p{
    font-weight: bold;
}
.newsletteranmeldung_landingpage{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
#fan_name_lbl{
    grid-column-start: 1;
}
#fan_mail_lbl{
    grid-column-start: 2}
#fan_lang_lbl{
    grid-column-start: 3;
}
#fan_data_lbl{
    grid-column-start: 1;
    grid-column-end: span 3;
}
#newsletter_landingpage_submit{
    grid-column-start: 4;
}
#wichtige_liste{
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: ". liste .";
}
#wichtige_liste ul{
    grid-area: liste;

}
#goodbye{
    text-align:center;
}
footer{
    grid-area: footer;
    display:grid;
    place-content:center;
    padding: 5px;
    border-top: 2px solid grey;
}
.footermenu li{
    display: inline;
    text-align:center;
    font-size: 0.75em;
    padding: 0 5px;

}
.footermenu li:first-child{
    border-right: 1px solid black;
}
.footermenu li:last-child{
    border-left: 1px solid black;
}


/*Gernelle Angaben*/
ul{
    padding:0;
    margin:0;
}
h1{
    display:none;
}
h2{
    display:block;
}
a{
    color: #00b5ad;
}
