body{
    margin: 0;
    font-family: Helvetica Arial Geneva, sans-serif;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr auto 1fr;
}
header{
    padding: 2rem 0.5rem 0.5rem;
    grid-column: span 5;
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    border-bottom: 2px solid black;
}
main{
    grid-row-start: 2;
    grid-column: 2 / span 3;
    display:grid;
    grid-template-rows: repeat(5, 1fr);
    place-content: center stretch;
}
footer{
    padding: 0.5rem;
    grid-column: span 5;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    border-top: 2px solid black;
}
h1{
    display: none;
}
h2{}
h3{}
h4{}
a{
    color: #00b5ad;
}
ul{
    margin: 0;
    padding: 0;
}
ul li{
    display: inline;
    padding:0.5rem;

}
.gridcontainer{}
.headercontainer{}
.bordered {
    border: 1px solid black;
}
#news p{
    padding: 1rem 0.5rem;
}
.headeritems{
    padding-top: 1rem;
}
.sitelogo{
    text-align:center;
    margin-right: 1rem;
}
.navbar{
    grid-column: 2 / span 3;
}
.mainmenu{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 1rem;
    justify-items: center;
}
.banner{
    text-align: center;
    border: 1px solid grey;
}
.mainitem{}









.stats{
    padding-left: 1rem;
    padding-right:1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}
.stats div{
    display: grid;
    grid-template-columns: auto 1fr;
    font-weight: bold;
}
.zahlenwerte{}
.newsletteranmeldung_landingpage{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2fr 1fr;
    place-items: end stretch;
}
.wichtige{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}
.wichtige_liste{
    grid-column: 2;
}
.wichtige_liste li{
    display: list-item;
}
.footermenu{
    grid-column: 2 / span 3;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;

}
.footermenu li {
    place-self: center stretch;
    text-align: center;
}
.footermenu li:first-child{
    border-right: 1px solid black;
}
.footermenu li:last-child{
    border-left: 1px solid black;
}

#fan_data_lbl{
    grid-column: 1 / span 3;
}
#goodbye{
    text-align: center;
}

#koestlichkeitent{
    border: 1px solid #00b5ad;
    margin: auto;
    width: 70vw;
    height: 11vw;
}
th{background-color: white;
    margin: auto;
    text-align: center;}

tr:nth-child(even){background-color: lightgrey; margin: auto; text-align: center;}
tr:nth-child(odd){background-color: white; margin: auto; text-align: center;}
.alignleft{
    text-align: left;
}